@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Oleo+Script&display=swap");

#canvas-draft {
  background-color: transparent;
}

/* --------- convas container --------- */

.canvas {
  border: 4px rgb(121, 121, 121) solid;
  position: absolute;
  left: 200px;
  top: 50px;
}

#control-panel {
  position: absolute;
  width: 200px;
  height: 778px;
  background-color: rgb(209, 209, 209);
}

/* --------- brand --------- */

.brand {
  position: absolute;
  top: 20px;
  left: 43px;
  z-index: 10;
}

.brand h1 {
  color: rgb(148, 100, 46);
  font-family: "Oleo Script", cursive;
  text-shadow: 3px 3px rgb(224, 176, 114);
}

/* ---- control-panel button ----- */

#shape-buttons {
  position: absolute;
  width: 150px;
  top: 100px;
  left: 37px;
}

.btn.raised {
  width: 50px;
  height: 40px;
  padding: 6px 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: 0 3px 0 0 #007299;
  background-color: #33a6cc;
}
.btn.raised:active {
  background: #33a6cc;
  box-shadow: none;
  margin-top: 3px;
  margin-bottom: 7px;
}

/* ---- functional-buttons button ----- */

#functional-buttons {
  position: absolute;
  width: 150px;
  top: 400px;
  left: 37px;
}

/* ----Top bar - brush/font/palette icon---- */
#brush-icon,
#font-icon {
  position: absolute;
  left: 200px;
}

#brush-icon,
#font-icon,
#color-icon {
  background-color: rgb(185, 185, 185);
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
}

.fa-brush,
.font-icon,
.fa-palette {
  font-size: 25px;
  margin: 0 auto;
}

/* #brushrange-container {
  display: none;
} */
/* ---- range-container ----- */

.range-container {
  width: 1043px;
  height: 50px;
  position: absolute;
  left: 245px;
  top: 0;
  background-color: rgb(209, 209, 209);
  padding-left: 20px;
}

.range-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

#brush-range {
  width: 250px;
}

/* ---- palette ----- */
#color-sq {
  position: absolute;
  left: 700px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sp-replacer {
  width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

/* ---- help center ----- */
.help-center {
  position: absolute;
  top: 730px;
  left: 140px;
}

.help-icon:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.help-text {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 550px;
  left: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: none;
}

.help-text p {
  font-size: 12px;
  text-align: left;
  line-height: 60%;
  color: aliceblue;
}
